.cubo, .cubo .cara {
    width: 200px;
    height: 200px;
}
.cubo .cara {
    position: absolute;
}
.cubo {
    margin: 100px auto;
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
}

.cubo .cara#superior {
    background-color: orange;
    transform: rotateX(90deg) translateZ(100px);
}
.cubo .cara#frente {
    background-color: red;
    transform: translateZ(100px);
}
.cubo .cara#atras {
    background-color: green;
    transform: translateZ(-100px);
}
.cubo .cara#derecha {
    background-color: blue;
    transform: rotateY(90deg) translateZ(100px);;
}
.cubo .cara#izquierda {
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(100px);
}
.cubo .cara#inferior {
    background-color: fuchsia;
    transform: rotateX(-90deg) translateZ(100px);
}

